In [1]:
import pandas as pd
import gzip

In [2]:
# use python generator to iterate through books2 and reviews2
def parse(path):
    g = gzip.open(path, 'r')
    for l in g:
        yield eval(l)

In [3]:
books2 = (parse('goodreads_books.json.gz'))
type(books2)

generator

In [4]:
next(books2)

{'isbn': '0312853122',
 'text_reviews_count': '1',
 'series': [],
 'country_code': 'US',
 'language_code': '',
 'popular_shelves': [{'count': '3', 'name': 'to-read'},
  {'count': '1', 'name': 'p'},
  {'count': '1', 'name': 'collection'},
  {'count': '1', 'name': 'w-c-fields'},
  {'count': '1', 'name': 'biography'}],
 'asin': '',
 'is_ebook': 'false',
 'average_rating': '4.00',
 'kindle_asin': '',
 'similar_books': [],
 'description': '',
 'format': 'Paperback',
 'link': 'https://www.goodreads.com/book/show/5333265-w-c-fields',
 'authors': [{'author_id': '604031', 'role': ''}],
 'publisher': "St. Martin's Press",
 'num_pages': '256',
 'publication_day': '1',
 'isbn13': '9780312853129',
 'publication_month': '9',
 'edition_information': '',
 'publication_year': '1984',
 'url': 'https://www.goodreads.com/book/show/5333265-w-c-fields',
 'image_url': 'https://images.gr-assets.com/books/1310220028m/5333265.jpg',
 'book_id': '5333265',
 'ratings_count': '3',
 'work_id': '5400751',
 'title': 'W.C. Fields: A Life on Film',
 'title_without_series': 'W.C. Fields: A Life on Film'}

# unnecessary - use goodreads 10k for book metadata
lst = list(books2)
len(lst)

cols = ('isbn', 'text_reviews_count', 'series', 'country_code', 'language_code', 'popular_shelves', 'asin', 'is_ebook',
       'average_rating', 'kindle_asin', 'similar_books', 'description', 'format', 'link', 'authors', 'publisher',
       'num_pages', 'publication_day', 'isbn13', 'publication_month', 'edition_information', 'publication_year', 
       'url', 'image_url', 'book_id', 'ratings_count', 'work_id', 'title', 'title_without_series')

books_df = pd.DataFrame(lst, columns = cols)
books_df.head()

In [5]:
reviews2 = (parse('goodreads_reviews_dedup.json.gz'))
rev_lst = list(reviews2)
len(rev_lst)

15739967

In [6]:
rev_cols = ('user_id', 'book_id', 'review_id', 'rating', 'review_text', 'date_added', 'date_updated', 'read_at', 'started_at', 
           'n_votes', 'n_comments')
reviews_df = pd.DataFrame(rev_lst, columns = rev_cols)

In [8]:
reviews_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,24375664,5cd416f3efc3f944fce4ce2db2290d5e,5,Mind blowingly cool. Best science fiction I've...,Fri Aug 25 13:55:02 -0700 2017,Mon Oct 09 08:55:59 -0700 2017,Sat Oct 07 00:00:00 -0700 2017,Sat Aug 26 00:00:00 -0700 2017,16,0
1,8842281e1d1347389f2ab93d60773d4d,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,This is a special book. It started slow for ab...,Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,Sat Aug 26 12:05:52 -0700 2017,Tue Aug 15 13:23:18 -0700 2017,28,1
2,8842281e1d1347389f2ab93d60773d4d,6392944,5e212a62bced17b4dbe41150e5bb9037,3,I haven't read a fun mystery book in a while a...,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,Mon Jul 24 00:00:00 -0700 2017,6,0
3,8842281e1d1347389f2ab93d60773d4d,22078596,fdd13cad0695656be99828cd75d6eb73,4,"Fun, fast paced, and disturbing tale of murder...",Mon Jul 24 02:33:09 -0700 2017,Sun Jul 30 10:23:54 -0700 2017,Sun Jul 30 15:42:05 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,22,4
4,8842281e1d1347389f2ab93d60773d4d,6644782,bd0df91c9d918c0e433b9ab3a9a5c451,4,A fun book that gives you a sense of living in...,Mon Jul 24 02:28:14 -0700 2017,Thu Aug 24 00:07:20 -0700 2017,Sat Aug 05 00:00:00 -0700 2017,Sun Jul 30 00:00:00 -0700 2017,8,0

In [11]:
reviews_df.dtypes

user_id         object
book_id         object
review_id       object
rating           int64
review_text     object
date_added      object
date_updated    object
read_at         object
started_at      object
n_votes          int64
n_comments       int64
dtype: object

In [23]:
type(reviews_df)

pandas.core.frame.DataFrame

In [24]:
# https://www.tutorialspoint.com/change-data-type-for-one-or-more-columns-in-pandas-dataframe-1
data_types_dict = {'book_id': int}
reviews_df3 = reviews_df.astype(data_types_dict)
reviews_df3.dtypes

user_id         object
book_id          int64
review_id       object
rating           int64
review_text     object
date_added      object
date_updated    object
read_at         object
started_at      object
n_votes          int64
n_comments       int64
dtype: object

In [7]:
books_10k = pd.read_csv('books10k.csv')
books_10k.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [12]:
books_10k.dtypes

book_id                        int64
goodreads_book_id              int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object

In [31]:
# discovered that reviews use goodreads book id as book id
# renaming column in reviews_df3
reviews_df3.rename(columns = {'book_id': 'goodreads_book_id'}, inplace = True)
reviews_df3.head()

,user_id,goodreads_book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,24375664,5cd416f3efc3f944fce4ce2db2290d5e,5,Mind blowingly cool. Best science fiction I've...,Fri Aug 25 13:55:02 -0700 2017,Mon Oct 09 08:55:59 -0700 2017,Sat Oct 07 00:00:00 -0700 2017,Sat Aug 26 00:00:00 -0700 2017,16,0
1,8842281e1d1347389f2ab93d60773d4d,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,This is a special book. It started slow for ab...,Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,Sat Aug 26 12:05:52 -0700 2017,Tue Aug 15 13:23:18 -0700 2017,28,1
2,8842281e1d1347389f2ab93d60773d4d,6392944,5e212a62bced17b4dbe41150e5bb9037,3,I haven't read a fun mystery book in a while a...,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,Mon Jul 24 00:00:00 -0700 2017,6,0
3,8842281e1d1347389f2ab93d60773d4d,22078596,fdd13cad0695656be99828cd75d6eb73,4,"Fun, fast paced, and disturbing tale of murder...",Mon Jul 24 02:33:09 -0700 2017,Sun Jul 30 10:23:54 -0700 2017,Sun Jul 30 15:42:05 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,22,4
4,8842281e1d1347389f2ab93d60773d4d,6644782,bd0df91c9d918c0e433b9ab3a9a5c451,4,A fun book that gives you a sense of living in...,Mon Jul 24 02:28:14 -0700 2017,Thu Aug 24 00:07:20 -0700 2017,Sat Aug 05 00:00:00 -0700 2017,Sun Jul 30 00:00:00 -0700 2017,8,0

In [32]:
reviews_df3.loc[reviews_df3['goodreads_book_id'] == 2767052]

,user_id,goodreads_book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
108,8842281e1d1347389f2ab93d60773d4d,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,Wed Jan 13 13:38:25 -0800 2010,Wed Mar 22 11:46:36 -0700 2017,Sun Mar 25 00:00:00 -0700 2012,Fri Mar 23 00:00:00 -0700 2012,24,25
333,704eb93a316aff687a93d5215882eb21,2767052,c52e231744768e9d7f939d1cbeb87666,5,"Exciting, fun, entertaining! :)",Fri Jul 20 13:59:12 -0700 2012,Sun Aug 23 20:49:13 -0700 2015,Sat Feb 18 00:00:00 -0800 2012,,0,0
1405,4b3636a043e5c99fa27ac897ccfa1151,2767052,89f5c6ed51ba6f70d3955a620f9af830,5,This was the perfect quick read for a beach va...,Thu Jun 09 22:05:49 -0700 2011,Fri Sep 13 08:47:42 -0700 2013,Tue Jul 05 00:00:00 -0700 2011,Mon Jul 04 00:00:00 -0700 2011,0,0
2476,012aa353140af13109d00ca36cdc0637,2767052,77fa951667b104fd565d5bd6c760437b,5,The United States (and I assume most other soc...,Sun Nov 04 18:57:00 -0800 2012,Mon Apr 15 12:57:23 -0700 2013,Sun Apr 14 00:00:00 -0700 2013,,0,0
2560,2f6af21d14c83a5df6cdcef5e6af0b3e,2767052,46f876086c1e378859f889e87d1e6e5c,4,A page turner. Since I hate reality TV I value...,Thu Jun 07 10:31:00 -0700 2012,Thu Jun 07 10:33:17 -0700 2012,Mon Apr 16 00:00:00 -0700 2012,,0,0
...,...,...,...,...,...,...,...,...,...,...,...
15738895,2fdecfcd828dd2313c2441389e47f88b,2767052,8951efcd380dc4ff5b41d1007c8903dc,5,loved the series! <3,Sat Jun 02 16:36:39 -0700 2012,Sat Jun 02 16:37:24 -0700 2012,Tue May 01 00:00:00 -0700 2012,,0,0
15738929,3e68e4c228b18ea84dd31cea4574e8ea,2767052,6ef9fa71058d707fb51befe6e7836886,5,Loved this book :D,Tue Dec 04 18:00:10 -0800 2012,Tue Dec 11 05:55:56 -0800 2012,Tue Dec 11 05:55:56 -0800 2012,Tue Dec 04 00:00:00 -0800 2012,0,0
15739294,91002788f3e275887fef43657b8879dc,2767052,27e669ce6505212ad3e8bccabb9f8ae4,5,** spoiler alert ** \n What can I say about th...,Thu Sep 10 08:32:30 -0700 2009,Thu Sep 10 08:47:23 -0700 2009,,,0,0
15739415,b750095df02eca69c08ab7771e165269,2767052,3320cc9ab66ecda20f0fe26c45c469a5,4,"Interesting concept, I loved the story. I'm no...",Sun Jan 27 09:13:37 -0800 2013,Thu Feb 07 06:02:25 -0800 2013,,,0,0
15739633,d94c83867337514c94738b57a1d19677,2767052,d9031043db6a48616ede10bc248611c8,4,I volunteer as tribute.,Tue Jun 05 10:43:10 -0700 2012,Thu Dec 27 01:15:35 -0800 2012,,,0,0

In [33]:
# add review_text from reviews2, combining by book_id
reviews_10k = pd.merge(books_10k, reviews_df3, on = 'goodreads_book_id', how = 'left')
reviews_10k.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,user_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,8842281e1d1347389f2ab93d60773d4d,248c011811e945eca861b5c31a549291,5.0,I cracked and finally picked this up. Very enj...,Wed Jan 13 13:38:25 -0800 2010,Wed Mar 22 11:46:36 -0700 2017,Sun Mar 25 00:00:00 -0700 2012,Fri Mar 23 00:00:00 -0700 2012,24.0,25.0
1,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,704eb93a316aff687a93d5215882eb21,c52e231744768e9d7f939d1cbeb87666,5.0,"Exciting, fun, entertaining! :)",Fri Jul 20 13:59:12 -0700 2012,Sun Aug 23 20:49:13 -0700 2015,Sat Feb 18 00:00:00 -0800 2012,,0.0,0.0
2,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4b3636a043e5c99fa27ac897ccfa1151,89f5c6ed51ba6f70d3955a620f9af830,5.0,This was the perfect quick read for a beach va...,Thu Jun 09 22:05:49 -0700 2011,Fri Sep 13 08:47:42 -0700 2013,Tue Jul 05 00:00:00 -0700 2011,Mon Jul 04 00:00:00 -0700 2011,0.0,0.0
3,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,012aa353140af13109d00ca36cdc0637,77fa951667b104fd565d5bd6c760437b,5.0,The United States (and I assume most other soc...,Sun Nov 04 18:57:00 -0800 2012,Mon Apr 15 12:57:23 -0700 2013,Sun Apr 14 00:00:00 -0700 2013,,0.0,0.0
4,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,2f6af21d14c83a5df6cdcef5e6af0b3e,46f876086c1e378859f889e87d1e6e5c,4.0,A page turner. Since I hate reality TV I value...,Thu Jun 07 10:31:00 -0700 2012,Thu Jun 07 10:33:17 -0700 2012,Mon Apr 16 00:00:00 -0700 2012,,0.0,0.0

In [34]:
reviews_10k.to_csv('reviews_10k.csv', index = False)