In [ ]:
# merge reviews data with correct book metadata

In [2]:
import pandas as pd
import gzip

In [2]:
# use python generator to iterate through books2 and reviews2
def parse(path):
    g = gzip.open(path, 'r')
    for l in g:
        yield eval(l)

In [5]:
books2 = (parse('Unused data/goodreads_books.json.gz'))
type(books2)

generator

In [6]:
next(books2)

{'isbn': '0312853122',
 'text_reviews_count': '1',
 'series': [],
 'country_code': 'US',
 'language_code': '',
 'popular_shelves': [{'count': '3', 'name': 'to-read'},
  {'count': '1', 'name': 'p'},
  {'count': '1', 'name': 'collection'},
  {'count': '1', 'name': 'w-c-fields'},
  {'count': '1', 'name': 'biography'}],
 'asin': '',
 'is_ebook': 'false',
 'average_rating': '4.00',
 'kindle_asin': '',
 'similar_books': [],
 'description': '',
 'format': 'Paperback',
 'link': 'https://www.goodreads.com/book/show/5333265-w-c-fields',
 'authors': [{'author_id': '604031', 'role': ''}],
 'publisher': "St. Martin's Press",
 'num_pages': '256',
 'publication_day': '1',
 'isbn13': '9780312853129',
 'publication_month': '9',
 'edition_information': '',
 'publication_year': '1984',
 'url': 'https://www.goodreads.com/book/show/5333265-w-c-fields',
 'image_url': 'https://images.gr-assets.com/books/1310220028m/5333265.jpg',
 'book_id': '5333265',
 'ratings_count': '3',
 'work_id': '5400751',
 'title': 'W.C. Fields: A Life on Film',
 'title_without_series': 'W.C. Fields: A Life on Film'}

In [8]:
reviews = (parse('Unused data/goodreads_reviews_dedup.json.gz'))
next(reviews)

{'user_id': '8842281e1d1347389f2ab93d60773d4d',
 'book_id': '24375664',
 'review_id': '5cd416f3efc3f944fce4ce2db2290d5e',
 'rating': 5,
 'review_text': "Mind blowingly cool. Best science fiction I've read in some time. I just loved all the descriptions of the society of the future - how they lived in trees, the notion of owning property or even getting married was gone. How every surface was a screen. \n The undulations of how society responds to the Trisolaran threat seem surprising to me. Maybe its more the Chinese perspective, but I wouldn't have thought the ETO would exist in book 1, and I wouldn't have thought people would get so over-confident in our primitive fleet's chances given you have to think that with superior science they would have weapons - and defenses - that would just be as rifles to arrows once were. \n But the moment when Luo Ji won as a wallfacer was just too cool. I may have actually done a fist pump. Though by the way, if the Dark Forest theory is right - and I see no reason why it wouldn't be - we as a society should probably stop broadcasting so much signal out into the universe.",
 'date_added': 'Fri Aug 25 13:55:02 -0700 2017',
 'date_updated': 'Mon Oct 09 08:55:59 -0700 2017',
 'read_at': 'Sat Oct 07 00:00:00 -0700 2017',
 'started_at': 'Sat Aug 26 00:00:00 -0700 2017',
 'n_votes': 16,
 'n_comments': 0}

In [5]:
rev_lst = list(reviews2)
len(rev_lst)

15739967

In [6]:
rev_cols = ('user_id', 'book_id', 'review_id', 'rating', 'review_text', 'date_added', 'date_updated', 'read_at', 'started_at', 
           'n_votes', 'n_comments')
reviews_df = pd.DataFrame(rev_lst, columns = rev_cols)

In [8]:
reviews_df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,24375664,5cd416f3efc3f944fce4ce2db2290d5e,5,Mind blowingly cool. Best science fiction I've...,Fri Aug 25 13:55:02 -0700 2017,Mon Oct 09 08:55:59 -0700 2017,Sat Oct 07 00:00:00 -0700 2017,Sat Aug 26 00:00:00 -0700 2017,16,0
1,8842281e1d1347389f2ab93d60773d4d,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,This is a special book. It started slow for ab...,Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,Sat Aug 26 12:05:52 -0700 2017,Tue Aug 15 13:23:18 -0700 2017,28,1
2,8842281e1d1347389f2ab93d60773d4d,6392944,5e212a62bced17b4dbe41150e5bb9037,3,I haven't read a fun mystery book in a while a...,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,Mon Jul 24 00:00:00 -0700 2017,6,0
3,8842281e1d1347389f2ab93d60773d4d,22078596,fdd13cad0695656be99828cd75d6eb73,4,"Fun, fast paced, and disturbing tale of murder...",Mon Jul 24 02:33:09 -0700 2017,Sun Jul 30 10:23:54 -0700 2017,Sun Jul 30 15:42:05 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,22,4
4,8842281e1d1347389f2ab93d60773d4d,6644782,bd0df91c9d918c0e433b9ab3a9a5c451,4,A fun book that gives you a sense of living in...,Mon Jul 24 02:28:14 -0700 2017,Thu Aug 24 00:07:20 -0700 2017,Sat Aug 05 00:00:00 -0700 2017,Sun Jul 30 00:00:00 -0700 2017,8,0

In [11]:
reviews_df.dtypes

user_id         object
book_id         object
review_id       object
rating           int64
review_text     object
date_added      object
date_updated    object
read_at         object
started_at      object
n_votes          int64
n_comments       int64
dtype: object

In [23]:
type(reviews_df)

pandas.core.frame.DataFrame

In [24]:
# https://www.tutorialspoint.com/change-data-type-for-one-or-more-columns-in-pandas-dataframe-1
data_types_dict = {'book_id': int}
reviews_df3 = reviews_df.astype(data_types_dict)
reviews_df3.dtypes

user_id         object
book_id          int64
review_id       object
rating           int64
review_text     object
date_added      object
date_updated    object
read_at         object
started_at      object
n_votes          int64
n_comments       int64
dtype: object

In [7]:
books_10k = pd.read_csv('books10k.csv')
books_10k.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [12]:
books_10k.dtypes

book_id                        int64
goodreads_book_id              int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object

In [31]:
# discovered that reviews use goodreads book id as book id
# renaming column in reviews_df3
reviews_df3.rename(columns = {'book_id': 'goodreads_book_id'}, inplace = True)
reviews_df3.head()

,user_id,goodreads_book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,24375664,5cd416f3efc3f944fce4ce2db2290d5e,5,Mind blowingly cool. Best science fiction I've...,Fri Aug 25 13:55:02 -0700 2017,Mon Oct 09 08:55:59 -0700 2017,Sat Oct 07 00:00:00 -0700 2017,Sat Aug 26 00:00:00 -0700 2017,16,0
1,8842281e1d1347389f2ab93d60773d4d,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,This is a special book. It started slow for ab...,Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,Sat Aug 26 12:05:52 -0700 2017,Tue Aug 15 13:23:18 -0700 2017,28,1
2,8842281e1d1347389f2ab93d60773d4d,6392944,5e212a62bced17b4dbe41150e5bb9037,3,I haven't read a fun mystery book in a while a...,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,Mon Jul 24 00:00:00 -0700 2017,6,0
3,8842281e1d1347389f2ab93d60773d4d,22078596,fdd13cad0695656be99828cd75d6eb73,4,"Fun, fast paced, and disturbing tale of murder...",Mon Jul 24 02:33:09 -0700 2017,Sun Jul 30 10:23:54 -0700 2017,Sun Jul 30 15:42:05 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,22,4
4,8842281e1d1347389f2ab93d60773d4d,6644782,bd0df91c9d918c0e433b9ab3a9a5c451,4,A fun book that gives you a sense of living in...,Mon Jul 24 02:28:14 -0700 2017,Thu Aug 24 00:07:20 -0700 2017,Sat Aug 05 00:00:00 -0700 2017,Sun Jul 30 00:00:00 -0700 2017,8,0

In [32]:
reviews_df3.loc[reviews_df3['goodreads_book_id'] == 2767052]

,user_id,goodreads_book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
108,8842281e1d1347389f2ab93d60773d4d,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,Wed Jan 13 13:38:25 -0800 2010,Wed Mar 22 11:46:36 -0700 2017,Sun Mar 25 00:00:00 -0700 2012,Fri Mar 23 00:00:00 -0700 2012,24,25
333,704eb93a316aff687a93d5215882eb21,2767052,c52e231744768e9d7f939d1cbeb87666,5,"Exciting, fun, entertaining! :)",Fri Jul 20 13:59:12 -0700 2012,Sun Aug 23 20:49:13 -0700 2015,Sat Feb 18 00:00:00 -0800 2012,,0,0
1405,4b3636a043e5c99fa27ac897ccfa1151,2767052,89f5c6ed51ba6f70d3955a620f9af830,5,This was the perfect quick read for a beach va...,Thu Jun 09 22:05:49 -0700 2011,Fri Sep 13 08:47:42 -0700 2013,Tue Jul 05 00:00:00 -0700 2011,Mon Jul 04 00:00:00 -0700 2011,0,0
2476,012aa353140af13109d00ca36cdc0637,2767052,77fa951667b104fd565d5bd6c760437b,5,The United States (and I assume most other soc...,Sun Nov 04 18:57:00 -0800 2012,Mon Apr 15 12:57:23 -0700 2013,Sun Apr 14 00:00:00 -0700 2013,,0,0
2560,2f6af21d14c83a5df6cdcef5e6af0b3e,2767052,46f876086c1e378859f889e87d1e6e5c,4,A page turner. Since I hate reality TV I value...,Thu Jun 07 10:31:00 -0700 2012,Thu Jun 07 10:33:17 -0700 2012,Mon Apr 16 00:00:00 -0700 2012,,0,0
...,...,...,...,...,...,...,...,...,...,...,...
15738895,2fdecfcd828dd2313c2441389e47f88b,2767052,8951efcd380dc4ff5b41d1007c8903dc,5,loved the series! <3,Sat Jun 02 16:36:39 -0700 2012,Sat Jun 02 16:37:24 -0700 2012,Tue May 01 00:00:00 -0700 2012,,0,0
15738929,3e68e4c228b18ea84dd31cea4574e8ea,2767052,6ef9fa71058d707fb51befe6e7836886,5,Loved this book :D,Tue Dec 04 18:00:10 -0800 2012,Tue Dec 11 05:55:56 -0800 2012,Tue Dec 11 05:55:56 -0800 2012,Tue Dec 04 00:00:00 -0800 2012,0,0
15739294,91002788f3e275887fef43657b8879dc,2767052,27e669ce6505212ad3e8bccabb9f8ae4,5,** spoiler alert ** \n What can I say about th...,Thu Sep 10 08:32:30 -0700 2009,Thu Sep 10 08:47:23 -0700 2009,,,0,0
15739415,b750095df02eca69c08ab7771e165269,2767052,3320cc9ab66ecda20f0fe26c45c469a5,4,"Interesting concept, I loved the story. I'm no...",Sun Jan 27 09:13:37 -0800 2013,Thu Feb 07 06:02:25 -0800 2013,,,0,0
15739633,d94c83867337514c94738b57a1d19677,2767052,d9031043db6a48616ede10bc248611c8,4,I volunteer as tribute.,Tue Jun 05 10:43:10 -0700 2012,Thu Dec 27 01:15:35 -0800 2012,,,0,0

In [33]:
# add review_text from reviews2, combining by book_id
reviews_10k = pd.merge(books_10k, reviews_df3, on = 'goodreads_book_id', how = 'left')
reviews_10k.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,user_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,8842281e1d1347389f2ab93d60773d4d,248c011811e945eca861b5c31a549291,5.0,I cracked and finally picked this up. Very enj...,Wed Jan 13 13:38:25 -0800 2010,Wed Mar 22 11:46:36 -0700 2017,Sun Mar 25 00:00:00 -0700 2012,Fri Mar 23 00:00:00 -0700 2012,24.0,25.0
1,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,704eb93a316aff687a93d5215882eb21,c52e231744768e9d7f939d1cbeb87666,5.0,"Exciting, fun, entertaining! :)",Fri Jul 20 13:59:12 -0700 2012,Sun Aug 23 20:49:13 -0700 2015,Sat Feb 18 00:00:00 -0800 2012,,0.0,0.0
2,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4b3636a043e5c99fa27ac897ccfa1151,89f5c6ed51ba6f70d3955a620f9af830,5.0,This was the perfect quick read for a beach va...,Thu Jun 09 22:05:49 -0700 2011,Fri Sep 13 08:47:42 -0700 2013,Tue Jul 05 00:00:00 -0700 2011,Mon Jul 04 00:00:00 -0700 2011,0.0,0.0
3,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,012aa353140af13109d00ca36cdc0637,77fa951667b104fd565d5bd6c760437b,5.0,The United States (and I assume most other soc...,Sun Nov 04 18:57:00 -0800 2012,Mon Apr 15 12:57:23 -0700 2013,Sun Apr 14 00:00:00 -0700 2013,,0.0,0.0
4,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,2f6af21d14c83a5df6cdcef5e6af0b3e,46f876086c1e378859f889e87d1e6e5c,4.0,A page turner. Since I hate reality TV I value...,Thu Jun 07 10:31:00 -0700 2012,Thu Jun 07 10:33:17 -0700 2012,Mon Apr 16 00:00:00 -0700 2012,,0.0,0.0

In [34]:
reviews_10k.to_csv('reviews10k.csv', index = False)

In [ ]:
# group by book_id and merge all reviews into single text field

In [8]:
ds = pd.read_csv('Data/reviews10k.csv')

/Applications/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
ds.head(10)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,user_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,8842281e1d1347389f2ab93d60773d4d,248c011811e945eca861b5c31a549291,5.0,I cracked and finally picked this up. Very enj...,Wed Jan 13 13:38:25 -0800 2010,Wed Mar 22 11:46:36 -0700 2017,Sun Mar 25 00:00:00 -0700 2012,Fri Mar 23 00:00:00 -0700 2012,24.0,25.0
1,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,704eb93a316aff687a93d5215882eb21,c52e231744768e9d7f939d1cbeb87666,5.0,"Exciting, fun, entertaining! :)",Fri Jul 20 13:59:12 -0700 2012,Sun Aug 23 20:49:13 -0700 2015,Sat Feb 18 00:00:00 -0800 2012,NaN,0.0,0.0
2,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4b3636a043e5c99fa27ac897ccfa1151,89f5c6ed51ba6f70d3955a620f9af830,5.0,This was the perfect quick read for a beach va...,Thu Jun 09 22:05:49 -0700 2011,Fri Sep 13 08:47:42 -0700 2013,Tue Jul 05 00:00:00 -0700 2011,Mon Jul 04 00:00:00 -0700 2011,0.0,0.0
3,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,012aa353140af13109d00ca36cdc0637,77fa951667b104fd565d5bd6c760437b,5.0,The United States (and I assume most other soc...,Sun Nov 04 18:57:00 -0800 2012,Mon Apr 15 12:57:23 -0700 2013,Sun Apr 14 00:00:00 -0700 2013,NaN,0.0,0.0
4,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,2f6af21d14c83a5df6cdcef5e6af0b3e,46f876086c1e378859f889e87d1e6e5c,4.0,A page turner. Since I hate reality TV I value...,Thu Jun 07 10:31:00 -0700 2012,Thu Jun 07 10:33:17 -0700 2012,Mon Apr 16 00:00:00 -0700 2012,NaN,0.0,0.0
5,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,08920c9c72f03d03df72908ce393f7e7,1748eee913a91a219a9c7bfb4f14b640,5.0,I have not read in a long time... I mean Harry...,Mon Jun 04 22:04:08 -0700 2012,Wed Jun 20 08:34:41 -0700 2012,Wed Jun 20 08:34:41 -0700 2012,NaN,0.0,0.0
6,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,8e1db93d364acf3893ce998ebb8d57fc,209d620ecd94c8e6f790ce255f3fe29b,4.0,Katniss is a sixteen year old girl from Distri...,Mon Jun 04 22:25:53 -0700 2012,Wed Oct 31 04:01:54 -0700 2012,Sat Jan 01 00:00:00 -0800 2011,NaN,0.0,0.0
7,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,b1360d644d3f5a5a604d6fcfbf772aec,194dbe2b415c43bde6ce1a87df49193b,4.0,"It was so amazing, it had me almost ripping my...",Tue Jun 05 02:45:19 -0700 2012,Fri Jul 18 23:45:54 -0700 2014,NaN,NaN,0.0,0.0
8,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,3e6c3b92cc90df443925c58f8899be6e,7c78c35a823fc04fb494ee74f40025c1,4.0,I love strong female characters and Katnis cer...,Sun Jun 24 14:44:40 -0700 2012,Sun Jun 24 14:45:58 -0700 2012,NaN,NaN,0.0,0.0
9,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,5e09e38e178edf7b524913c729854741,44b519ba9182cf039b30faafc4a8ad5a,4.0,Had to see what my daughter was reading - so g...,Tue Sep 01 09:45:16 -0700 2015,Tue Sep 01 09:45:38 -0700 2015,NaN,NaN,0.0,0.0

In [10]:
ds.dtypes

book_id                        int64
goodreads_book_id              int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
user_id                       object
review_id                     object
rating                       float64
review_text                   object
date_added                    object
date_updated                  object
read_at                       object
started_at                    object
n_votes                      float64
n_comments                   float64
dtype: object

In [11]:
print(ds.shape)

(4539077, 33)

In [12]:
ds2 = ds[['book_id', 'authors', 'original_title', 'review_text']]
ds2.head()

,book_id,authors,original_title,review_text
0,1,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
1,1,Suzanne Collins,The Hunger Games,"Exciting, fun, entertaining! :)"
2,1,Suzanne Collins,The Hunger Games,This was the perfect quick read for a beach va...
3,1,Suzanne Collins,The Hunger Games,The United States (and I assume most other soc...
4,1,Suzanne Collins,The Hunger Games,A page turner. Since I hate reality TV I value...

In [13]:
# https://stackoverflow.com/questions/39303912/tfidfvectorizer-in-scikit-learn-valueerror-np-nan-is-an-invalid-document
data_types_dict = {'authors': str, 'original_title': str, 'review_text': str}
ds3 = ds2.astype(data_types_dict)
ds3.dtypes

book_id            int64
authors           object
original_title    object
review_text       object
dtype: object

In [14]:
ds3['review_text'] = ds3[['book_id','authors','original_title', 'review_text']].groupby(['book_id','authors', 'original_title'])['review_text'].transform(lambda x: ','.join(x))
ds3.head()

,book_id,authors,original_title,review_text
0,1,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
1,1,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
2,1,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
3,1,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
4,1,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...

In [ ]:
ds4 = ds3[['book_id','authors','original_title','review_text']].drop_duplicates()

In [ ]:
print(ds4.shape)

In [ ]:
ds4.head()

In [ ]:
ds4[ds4['original_title'] == 'In the Woods']

In [ ]:
ds4.to_csv('reviews10k_grouped.csv', index = False)

##### https://medium.com/@armandj.olivares/building-nlp-content-based-recommender-systems-b104a709c042
##### https://github.com/ArmandDS/jobs_recommendations/blob/master/job_analysis_content_recommendation.ipynb

In [ ]:
# Clean Text - chose not to use this cleaned text because it made it difficult to recognize proper names, which are very useful in looking for similiarities in reviews

In [16]:
import pandas as pd
import numpy as np
import nltk

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

from nltk.corpus import stopwords
import re
import string
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
from nltk.corpus import stopwords
stop = stopwords.words('english')
stop_words_ = set(stopwords.words('english'))
wn = WordNetLemmatizer()

import matplotlib.pyplot as plt

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/reginaduval/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/reginaduval/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/reginaduval/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/reginaduval/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
def black_txt(token):
    return token not in stop_words_ and token not in list(string.punctuation) and len(token)>2   
  
def clean_txt(text):
  clean_text = []
  clean_text2 = []
  text = re.sub("'", "",text)
  text=re.sub("(\\d|\\W)+"," ",text) 
  text = text.replace("nbsp", "")
  clean_text = [ wn.lemmatize(word, pos="v") for word in word_tokenize(text.lower()) if black_txt(word)]
  clean_text2 = [word for word in clean_text if black_txt(word)]
  return " ".join(clean_text2)

In [17]:
ds = pd.read_csv('Data/reviews10k_grouped.csv')

ds['review_text'] = ds['review_text'].map(str).apply(clean_txt)
ds.head()

ds.to_csv('Data/reviews10k_cleaned.csv', index = False)

ds = pd.read_csv('Data/reviews10k_cleaned.csv')
ds.head()

In [18]:
# https://stackoverflow.com/questions/26266362/how-to-count-the-nan-values-in-a-column-in-pandas-dataframe
ds.isna().sum()

book_id             0
authors             0
original_title    585
review_text         4
dtype: int64

In [ ]:
ds = ds[ds['original_title'].notna()]
ds.isna().sum()

In [ ]:
ds = ds[ds['review_text'].notna()]
ds.isna().sum()

In [7]:
print(ds.shape)

(9413, 4)

In [8]:
ds.to_csv('reviews10k_cleaned2.csv', index = False)

In [ ]:
# add book metadata back to reviews10k data for enhanced vectorization

In [2]:
import pandas as pd

In [19]:
books_10k = pd.read_csv('Data/books10k.csv')
books_10k.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [20]:
reviews_10k = pd.read_csv('Data/reviews10k_grouped.csv')
reviews_10k.head()

,book_id,authors,original_title,review_text
0,2767052,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
1,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,Tuve el gusto de leerlo antes de que saliera l...
2,41865,Stephenie Meyer,Twilight,"If I was 15, I would have LOVED this. It wasn'..."
3,2657,Harper Lee,To Kill a Mockingbird,"Still relevant and beautiful.,R.I.P. Ms. Harpe..."
4,4671,F. Scott Fitzgerald,The Great Gatsby,I read this classic twice in high school. Its ...

In [21]:
books_10k.dtypes

book_id                        int64
goodreads_book_id              int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object

In [22]:
# discovered that reviews use goodreads book id as book id
# renaming column in reviews_df3
reviews_10k.rename(columns = {'book_id': 'goodreads_book_id'}, inplace = True)
reviews_10k.head()

,goodreads_book_id,authors,original_title,review_text
0,2767052,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
1,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,Tuve el gusto de leerlo antes de que saliera l...
2,41865,Stephenie Meyer,Twilight,"If I was 15, I would have LOVED this. It wasn'..."
3,2657,Harper Lee,To Kill a Mockingbird,"Still relevant and beautiful.,R.I.P. Ms. Harpe..."
4,4671,F. Scott Fitzgerald,The Great Gatsby,I read this classic twice in high school. Its ...

In [23]:
# add review_text from reviews2, combining by book_id
reviews_full = pd.merge(books_10k, reviews_10k, on = 'goodreads_book_id', how = 'left')
reviews_full.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors_x,original_publication_year,original_title_x,...,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,authors_y,original_title_y,review_text
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,Tuve el gusto de leerlo antes de que saliera l...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,Stephenie Meyer,Twilight,"If I was 15, I would have LOVED this. It wasn'..."
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,Harper Lee,To Kill a Mockingbird,"Still relevant and beautiful.,R.I.P. Ms. Harpe..."
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,F. Scott Fitzgerald,The Great Gatsby,I read this classic twice in high school. Its ...

In [24]:
reviews_full.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors_x',
       'original_publication_year', 'original_title_x', 'title',
       'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url', 'authors_y', 'original_title_y', 'review_text'],
      dtype='object')

In [25]:
reviews_full = reviews_full.drop(['authors_x', 'original_title_x', 'image_url', 'small_image_url'], axis = 1)

In [26]:
print(reviews_full.shape)

(10000, 22)

In [27]:
reviews_full.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'original_publication_year', 'title',
       'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'authors_y',
       'original_title_y', 'review_text'],
      dtype='object')

In [29]:
ds = reviews_full

In [30]:
ds['full_text'] = ds['original_publication_year'].map(str)+" "+ds['title'].map(str)+" "+ds['language_code'].map(str)+" "+ds[
    'authors_y'].map(str)+" "+ds['original_title_y'].map(str)+" "+ds['review_text'].map(str)
ds.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,original_publication_year,title,language_code,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,authors_y,original_title_y,review_text,full_text
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,2008.0,"The Hunger Games (The Hunger Games, #1)",eng,...,155254,66715,127936,560092,1481305,2706317,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...,"2008.0 The Hunger Games (The Hunger Games, #1)..."
1,2,3,3,4640799,491,439554934,9.780440e+12,1997.0,Harry Potter and the Sorcerer's Stone (Harry P...,eng,...,75867,75504,101676,455024,1156318,3011543,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,Tuve el gusto de leerlo antes de que saliera l...,1997.0 Harry Potter and the Sorcerer's Stone (...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,2005.0,"Twilight (Twilight, #1)",en-US,...,95009,456191,436802,793319,875073,1355439,Stephenie Meyer,Twilight,"If I was 15, I would have LOVED this. It wasn'...","2005.0 Twilight (Twilight, #1) en-US Stephenie..."
3,4,2657,2657,3275794,487,61120081,9.780061e+12,1960.0,To Kill a Mockingbird,eng,...,72586,60427,117415,446835,1001952,1714267,Harper Lee,To Kill a Mockingbird,"Still relevant and beautiful.,R.I.P. Ms. Harpe...",1960.0 To Kill a Mockingbird eng Harper Lee To...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,1925.0,The Great Gatsby,eng,...,51992,86236,197621,606158,936012,947718,F. Scott Fitzgerald,The Great Gatsby,I read this classic twice in high school. Its ...,1925.0 The Great Gatsby eng F. Scott Fitzgeral...

In [31]:
ds.to_csv('Data/reviews10k_grouped_full.csv', index = False)

In [32]:
reviews_full = pd.read_csv('Data/reviews10k_grouped_full.csv')
reviews_full.head(10)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,original_publication_year,title,language_code,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,authors_y,original_title_y,review_text,full_text
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,2008.0,"The Hunger Games (The Hunger Games, #1)",eng,...,155254,66715,127936,560092,1481305,2706317,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...,"2008.0 The Hunger Games (The Hunger Games, #1)..."
1,2,3,3,4640799,491,439554934,9.780440e+12,1997.0,Harry Potter and the Sorcerer's Stone (Harry P...,eng,...,75867,75504,101676,455024,1156318,3011543,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,Tuve el gusto de leerlo antes de que saliera l...,1997.0 Harry Potter and the Sorcerer's Stone (...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,2005.0,"Twilight (Twilight, #1)",en-US,...,95009,456191,436802,793319,875073,1355439,Stephenie Meyer,Twilight,"If I was 15, I would have LOVED this. It wasn'...","2005.0 Twilight (Twilight, #1) en-US Stephenie..."
3,4,2657,2657,3275794,487,61120081,9.780061e+12,1960.0,To Kill a Mockingbird,eng,...,72586,60427,117415,446835,1001952,1714267,Harper Lee,To Kill a Mockingbird,"Still relevant and beautiful.,R.I.P. Ms. Harpe...",1960.0 To Kill a Mockingbird eng Harper Lee To...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,1925.0,The Great Gatsby,eng,...,51992,86236,197621,606158,936012,947718,F. Scott Fitzgerald,The Great Gatsby,I read this classic twice in high school. Its ...,1925.0 The Great Gatsby eng F. Scott Fitzgeral...
5,6,11870085,11870085,16827462,226,525478817,9.780525e+12,2012.0,The Fault in Our Stars,eng,...,140739,47994,92723,327550,698471,1311871,John Green,The Fault in Our Stars,So.. well I know everyone's obsessed with this...,2012.0 The Fault in Our Stars eng John Green T...
6,7,5907,5907,1540236,969,618260307,9.780618e+12,1937.0,The Hobbit,en-US,...,37653,46023,76784,288649,665635,1119718,J.R.R. Tolkien,The Hobbit or There and Back Again,Couldn't finish it. I was 5/6 of the way done ...,1937.0 The Hobbit en-US J.R.R. Tolkien The Hob...
7,8,5107,5107,3036731,360,316769177,9.780317e+12,1951.0,The Catcher in the Rye,eng,...,44920,109383,185520,455042,661516,709176,J.D. Salinger,The Catcher in the Rye,"Certainly not his best, but it's Salinger so I...",1951.0 The Catcher in the Rye eng J.D. Salinge...
8,9,960,960,3338963,311,1416524797,9.781417e+12,2000.0,"Angels & Demons (Robert Langdon, #1)",en-CA,...,25112,77841,145740,458429,716569,680175,Dan Brown,Angels & Demons,"A quick read, and probably better than The Da ...","2000.0 Angels & Demons (Robert Langdon, #1) e..."
9,10,1885,1885,3060926,3455,679783261,9.780680e+12,1813.0,Pride and Prejudice,eng,...,49152,54700,86485,284852,609755,1155673,Jane Austen,Pride and Prejudice,This great classic's color paints vivid pictur...,1813.0 Pride and Prejudice eng Jane Austen Pri...